@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');

*{
    box-sizing: border-box;
}
@keyframes transitionIn{
  from{
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to{
    opacity: 1;
    transform: rotateX(0);
  }
}


.capsule{
  animation: transitionIn 0.75s;
}

html{
  scroll-behavior: smooth;
}
.gold{
    color: #E5AC5B;
}

.grey{
    color: #6F6D6D;
}

.readablegrey{
    color: #333;
}

.white{
    color: #fff;
}

.merriweather{
    font-family: 'Merriweather', serif;;
}

.merriweather-bold{
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.headerSize{
    font-size: clamp(3.4375rem, 1.875rem + 5vw, 6.25rem);
}

.uppercase{
    text-transform: uppercase;
}
.text-size-15{
  font-size: clamp(0.75rem, 0.6458rem + 0.3333vw, 0.9375rem);
}

.text-size-18{
    font-size: clamp(0.75rem, 0.5417rem + 0.6667vw, 1.125rem);
    line-height: 222.2%;
}

.text-size-100{
  font-size: clamp(3.125rem, 1.3889rem + 5.5556vw, 6.25rem);
}

.text-size-25{
    font-size: clamp(0.8125rem, 0.3958rem + 1.3333vw, 1.5625rem);
}

.text-size-40{
  font-size: clamp(2.5rem, 2.3264rem + 0.5556vw, 2.8125rem);
}
a.grey{
    color: #6F6D6D;
}

a.grey:hover{
    color: #E5AC5B;
}

a.active{
    color: #E5AC5B;
}

h1.headerSize.uppercase.merriweather-bold{
    letter-spacing: 0.55em;
}

h2.text-size-25.merriweather{
    letter-spacing: 0.50em;
}

.rajaGridImage{
    width: 100%;
    height: auto;
}
p.merriweather.readablegrey.text-lg-start.text-size-18{
  line-height: 23px;
}

.wrapper a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size:clamp(0.75rem, 0.5417rem + 0.6667vw, 1.125rem);
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-radius: 16px;
}
a span{
        position: relative;
        z-index: 2; 
}
.wrapper a:after{
    position: absolute;
    content: "";
    border-radius: 16px;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #E5AC5B;
    transition: all .25s;
    
  }
  
  .wrapper a:hover{
    color: #fff;
  }
  
  .wrapper a:hover:after{
    width: 100%;
  }

  h1.text-center.merriweather-bold.headerSize{
    font-size: 55px;
  }

  h2.merriweather-bold.text-size-25{
    border-bottom: 2px solid #E5AC5B;
  }

  .imageSize{
    width: 100%;
    max-width: 675px;
  }

  div.d-lg-flex.py-5{
    background-color: #333;
  }

  h1.merriweather-bold.uppercase.white{
    letter-spacing: .45em;
  }

  p.merriweather.white{
    width: max-content;
    max-width: 690px;
  }

  a.White.nav-link{
    color: white;
  }
  
  .toggle-button{
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }

  span.bar{
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 10px;
  }
  h2.merriweather-bold.text-size-25.pb-3{
    transition: all .25s;
  }
  h2.merriweather-bold.text-size-25.pb-3:hover{
    letter-spacing: 0.1rem;
    transition: all .25s;
  }
  a.ps-3.White.nav-link.text-size-18.merriweather:hover{
    color: #E5AC5B;
  }
  .small{
    transform: scale(0.9);
  }
  .owl-item{
    transition: all .25s;
    opacity: 0.5;
    border-radius: 12px;
  }
  .owl-item.active.center{
    transform: scale(1.1);
    opacity: 1;
    transition: all .25s;
  }
  .star{
    margin: auto;
    width: 150px;
  }
  .circle-image{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 40px;
  }
  .circle-image img{
    width:100%;
    height:100%;
    object-fit: cover;
  }

  .space-between{
    margin: 60px;
  }

  input,textarea{
    border: 2px solid #E5AC5B;
    padding: 7px;
    border-radius: 5px;
  }

  .line{
    border: 1px solid #E5AC5B;
    height: 48px;
  }

  .btnsubmit{
    color: #333;
    transition: all .25s;
  }

  .btnsubmit:hover{
    background-color: #E5AC5B;
    border: 2px solid white;
    color: white;
    transition: all .25s;
  }

  .merriweather.text-size-25.fst-italic{
    letter-spacing: 6px;
  }

  .bar{
    background-color: linear-gradient(270deg, rgba(255, 255, 255, 0.9) -27.57%, rgba(94, 85, 85, 0.940104) 1.07%, rgba(66, 62, 62, 0.976562) 27.11%, #000000 43.85%);
  }

  @media (max-width: 991px) {
    .toggle-button{
        display: flex;
    }
    .wrapper a{
        display: block;
        width: 150px;
        height: 35px;
        line-height: 32px;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    .grid{
        position: relative;
        text-align: center;
    }
    .wrapper a{
        position: absolute;
        top: 99%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    h1.headerSize.uppercase.merriweather-bold{
        text-align: center;
        padding-left: 25px;
    }
    h2.text-size-25.merriweather{
        text-align: center;
    }
    div.mx-5{
        padding: 30px 0;
        text-align: center;
    }
    .imageSize{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .bottom-phone-nav{
        text-align: center;
    }
    ul.d-flex.list-inline.align-items-center{
        justify-content: center;
    }
    .package{
      width:auto;
      border: 1px solid #E5AC5B;
      border-radius: 20px;
    }
    .smallwhite{
      color: white;
    }
  }

  /* Desktop */
  
  @media (min-width: 992px){
    .grid{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        width: 100%;
        margin: 0 auto;
    }
    
    .description,.rajaGridImage{
        grid-row: 1/2;
    }
    
    .description{
        z-index: 1;
        align-self: center;
        grid-column: 2/6;
    }
    
    .rajaGridImage{
        grid-column: 4/-1;
    }
  }

  @media (min-width: 993px) and (max-width:1200px){
    .package{
      width: 450px;
    }
  }